.aside {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 90vh;
	color: var(--dark-blue);
	border-right: 1px solid #d3d3d373;
	padding-bottom: 20px;
	padding-right: 20px;
}

.top {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 90vh;
	color: var(--dark-blue);
	padding-bottom: 20px;
}

.logo {
	display: flex;
	justify-content: flex-end;
	height: 45px;
	width: 110px;
	margin-bottom: 20px;
}

.image {
	display: flex;
	justify-content: flex-end;
}